html {
    background-color: rgb(45, 45, 45);
}

.container {
    display: flex;
    max-width: 960px;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

.column {
    background-color: rgb(212, 212, 212);
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    flex: 1;
}