.container {
    border: 5px solid black;
    display: flex;
    max-width: 800px;
    min-height: 800px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

.column {
    background-color: grey;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    flex: 1;
    border: 1px solid black;
}